.projects-component {
    margin-top: 900px;

    h1 {
        color: #5E95E8;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: max-content;
        margin: 0 auto;
        margin-bottom: 50px;
        position: relative;
        opacity: 1;
    }

    span {
        color: white;
        font-family: sans-serif;
        margin: 0 auto;
        top: 100px;
        position: relative;
        opacity: 0;
    }


    .project-list {
        display: -webkit-inline-box;
        position: relative;
        margin: 0 auto;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        display: -webkit-box;
    }
    
    .project-list-mobile {
        position: relative;
        margin: 0 auto;
        display: table;
    }
    



    .child {
        width: 100%;
        height: 100%;
        background-color: black; /* fallback color */
        background-position: center;
        background-size: cover;
        border-radius: 5%;
        transition: all .5s;
        text-align: center;
    }

    .child:before {
        content: "";
        display: none;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(52,73,94,0.75);
    }

    #projects {
        height: 300px;
        width: 300px;
        overflow: hidden;
        border-radius: 5%;
        margin: 5px;
    }
    
    #projects:hover .child,
    #projects:focus .child {
      transform: scale(1.2);
    }
    #projects:hover .child:before,
    #projects:focus .child:before {
        display: block;
    }
    #projects:hover span,
    #projects:focus span {
        opacity: 1;
        display: block;
    }

    .handy-cam {
        background-image: url("../../handy-cam.png");
    }
    .pharm-alarm {
        background-image: url("../../pharm-alarm-logo.png");
    }
    .chef-happy {
        background-image: url("../../chef-happy.png");
    }


}


.mdi-projects {
    color: yellow;
    font-size: 40px;
    bottom: -50px;    
}

.prize-desc {
    position: absolute;
    bottom: -50px; 
    display: flex;

    p {
        padding-left: 5px;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
    }
}


.just-a-dash {
    position: relative;
    width: 75px;
    height: 3px;
    background-color: white;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 10%;
}
