.contact {
    h2 {
        color: #D83F87;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    text-align: center;
    position: relative;
    height: 300px;
    margin-top: 400px;
    padding-top: 200px;
}