.footer {
    height: 200px;
    background-color: #1f2833;
    text-align: center;
}

.copyright {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8F9AA7;
    padding-top: 30px;
}